@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

*,
*::before,
*::after,
html,
body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  padding: 0;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #3e3e08;
  padding: 8px 16px;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #5f5e36;
}

.filter-card-team {
  background: rgb(0, 14, 33);
  background: linear-gradient(
    0deg,
    rgba(0, 14, 33, 0.8) 0%,
    rgba(101, 101, 57, 0.2) 43%,
    rgba(56, 56, 7, 0.29) 64%,
    rgba(127, 126, 94, 0.2) 88%,
    rgba(62, 62, 8, 0.53) 100%
  );
}

@layer components {
  .sidebar-menu {
    @apply flex items-center p-2 text-sm text-gray-300 rounded-md cursor-pointer hover:bg-primary-1 gap-x-4;
  }
}

/* Add these styles to your CSS file */
.overlay {
  display: none; /* Default hidden */
}

@media (max-width: 640px) {
  /* Tailwind's sm breakpoint */
  .overlay {
    display: block; /* Show overlay on mobile screens */
  }
}
